name: Infrastructure

on:
  push:
    branches: [ main ]
    paths:
      - 'infra/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'infra/**'

jobs:
  opentofu:
    name: OpenTofu
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra

    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup OpenTofu
      uses: opentofu/setup-opentofu@v1

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: us-east-1

    - name: OpenTofu Init
      run: tofu init

    - name: OpenTofu Format
      run: tofu fmt -check

    - name: OpenTofu Plan
      run: tofu plan -input=false

    - name: OpenTofu Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: tofu apply -auto-approve -input=false
